body {
	max-width: 1200px;
	margin: auto;
	font-family: Tahoma, Verdana, sans-serif;
}

header {
	margin: 10px;
}

@keyframes keyNav {
  from {right:-1300px;}
  to   {right:    0px;}
}

nav {
	display: flex;
	flex-direction: row;

	position: relative;
	animation: keyNav 2s;
}

#Icon {
	flex-grow: 1;

	display:flex;
	justify-content: flex-start;
	align-items: center;
}

#fIcon {
	width:42px;
	height:42px;
	padding: 8px;
}

#Menu {
	font-size: 16px;

	flex-grow: 4;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.mItems {
	margin:   8px 0px  8px 0px;
	padding: 2px 3px 2px 3px;
	border-radius: 25%;

	transition-property: background-color;
	transition-duration: 1s;

	flex-grow: 1 0 18%;

	display:flex;
	justify-content: center;
	align-items: center;
}

.mItems:hover { background-color: DarkSalmon; }

img.mIcon {
	width: 24px;
	height: 24px;
}

a.mLink {
	padding: 0px 0px 0px 2px;
	color: gray;
}
a.mLink:visited { text-decoration: none; }
a.mLink:link    { text-decoration: none; }

#Social {
	flex-grow: 1;

	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

img.sIcon {
	border-radius: 25%;
	width: 24px;
	height: 24px;
	padding: 8px;
}

.sIcon:hover { background-color: LightBlue; }

@keyframes keyHp {
  from {left: -1300px;}
  to   {left:     0px;}
}

#hPicture {
	background-image: url('pictures/header.jpg');
	background-repeat: no-repeat;
	background-position: center;

	height: 242px;

	display: flex;
	justify-content: center;
	align-items: flex-end;

	position: relative;
	animation: keyHp 2s;
}

#OIText {
	background-color: rgba(130, 130, 130, 0.3);
	height: 55%;

	flex-basis: 60%;

	display: flex;
	justify-content: center;
	align-items: center;
}

p#iText {
	font-size: 24px;
	opacity: 0.9;
	text-align: center;
	color: DarkSalmon;
}

