body {
	max-width: 1200px;
	margin: auto;
}

header {
	margin: 10px;
	background-color: black;

	display: flex;
	flex-direction: column;
}

#titleBox {
	margin: 20px;
	background-color: DarkSlateBlue;

	flex: 1 0 100%;

	display: flex;
	flex-direction: row;
}

.title {
	margin: 7px;
	font-size: 30px;
	background-color: IndianRed;
}

#tLeft {
	min-width: 3em;
	text-align: left;
	flex-grow: 1;
}

#tCenter {
	min-width: 4em;
	text-align: center;
	flex-grow: 6;
}

#tRight {
	min-width: 3em;
	text-align: right;
	flex-grow: 1;
}

#BriefBox {

	margin: 0px 20px 20px 20px;
	font-size: 15px;
	background-color: orange;
	flex-grow: 1;

	display: flex;
}

#Brief {
	margin: 7px;
	background-color: Khaki;
	flex-grow: 1;
}

article {
	margin: 10px;
	background-color: black;
	font-size: 15px;

	display: flex;
	flex-direction: row;
}

#aMainBox {
	margin: 20px;
	background-color: Gray;
	flex-grow: 1;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.aText {
	margin: 10px;
	background-color: CornFlowerBlue;
	flex: 1 0 35%;
}

#aFooter {
	margin: 10px;
	background-color: CornFlowerBlue;

	flex-basis: 85%;
	flex-grow: 1;
}

#aSideBox {
	margin: 20px;
	background-color: Coral;
	flex-basis: 35%;
	flex-grow: 1;
}

.aSide {
	margin: 10px;
	background-color: Khaki;

	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

footer {
	margin: 10px;

	font-size: 15px;
	background-color: black;

	display: flex;
}

#fText {
	margin: 20px;

	background-color: khaki;

	flex-grow: 1;
}

@media only screen and (max-width: 768px) {
	article {
		background-color: yellow;

		display: flex;
		flex-direction: column;
	}
}

@media only screen and (max-width: 600px) {

	#titleBox {
		flex-direction: column;
	}

	#aMainBox {
		flex-direction: column;
		flex-wrap: wrap;
	}
}

