body
{
	margin: 10px;
	max-width: 600px;

	display:flex;
	flex-direction: column;
	align-content: center;
}

header
{
	margin: 10px;
	padding: 10px;
	background-color: LightBlue;
	color: Navy;
}

main
{
	margin: 10px;
	background-color: LightBlue;

  	display: flex;
  	flex-direction: column;
}

h4
{
	padding: 4px;
}

input
{
	margin: 5px;
	padding: 3px;
}

.formRows
{
	padding: 0px  20% 0px  20%;
	display: flex;
	justify-content: space-between;
}

.formBox
{
	background-color: PeachPuff;
	margin: 10px;
	padding: 10px;
}

footer
{
	margin: 10px;
/*	padding: 10px;*/
	background-color: LightBlue;
}

#fRow
{
	margin: 10px;
	padding: 10px;
	background-color: PeachPuff;
}

